@model IEnumerable<Ex01.Models.Convidado>

@{
    ViewData["Title"] = "Convidados";
}

<h1>Convidados</h1>

<p>
    <a asp-action="Create">Adicionar convidado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConvidadoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comparecimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConvidadoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @if(item.Comparecimento == true)
                {
                    <p>Sim</p>
                }
                else if(item.Comparecimento == false)
                {
                    <p>Não</p >
                }
                else
                {
                    <p>Indefinido</p >
                }
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.ConvidadoId }) |
                @Html.ActionLink("Detalhes", "Details", new { id=item.ConvidadoId }) |
                @Html.ActionLink("Deletar", "Delete", new { id=item.ConvidadoId })
            </td>
        </tr>
}
    </tbody>
</table>
